<section class="min-h-[60vh] flex justify-center">
  <form (ngSubmit)="submit()" [formGroup]="CartForm" method="post"  class="w-9/12 m-auto flex flex-col">
    <h2 class="text-3xl mb-4">Register Now</h2>
    <div class="mb-3">
      <label class="text-lg mb-1 block">Details</label>
      <input [ngClass]="{' border-red-800 shadow-md shadow-red-600 ':CartForm.get('details')?.errors && (CartForm.get('details')?.touched || CartForm.get('details')?.dirty) }" formControlName="details" class=" outline-none  block w-full border-2 border-green-600  rounded-xl py-2 px-4 placeholder:text-gray-400" type="text"  placeholder="your details" >
      @if(CartForm.get('details')?.errors && (CartForm.get('details')?.touched || CartForm.get('details')?.dirty)){
        @if(CartForm.get('details')?.getError('required') ){
          <p class="bg-red-400 border-2 border-red-800 text-white rounded-lg mt-0.5 p-2">
            Details is Required
          </p>
        }
        @else if (CartForm.get('details')?.getError('minlength') ){
          <p class="bg-red-400 border-2 border-red-800 text-white rounded-lg mt-0.5 p-2">
            The minmum Length is 3
          </p>
        }
      }
    </div>
    <div class="mb-3">
      <label class="text-lg mb-1">City</label>
      <input formControlName="city" [ngClass]="{' border-red-800 shadow-md shadow-red-600 ':CartForm.get('city')?.errors && (CartForm.get('city')?.touched || CartForm.get('city')?.dirty) }"  class="outline-none  block w-full  border-2 border-green-600 rounded-xl py-2 px-4 placeholder:text-gray-400" type="city"  placeholder="Giza" >
      @if(CartForm.get('city')?.errors && (CartForm.get('city')?.touched || CartForm.get('city')?.dirty)){
        @if(CartForm.get('city')?.getError('required')){
          <p class="bg-red-400 border-2 border-red-800 text-white rounded-lg mt-0.5 p-2">
            The City is required
          </p>
        }@else if (CartForm.get('city')?.getError('minlength')) {
          <p class="bg-red-400 border-2 border-red-800 text-white rounded-lg mt-0.5 p-2">
            The Email is Not Valid
          </p>
        }
      }
    </div>
    <div class="mb-3">
      <label class="text-lg mb-1">Phone</label>
      <input formControlName="phone" [ngClass]="{' border-red-800 shadow-md shadow-red-600 ':CartForm.get('phone')?.errors && (CartForm.get('phone')?.touched || CartForm.get('phone')?.dirty) }" class="outline-none  block w-full  border-2 border-green-600 rounded-xl py-2 px-4 placeholder:text-gray-400" type="text"  placeholder="01******" >
      @if(CartForm.get('phone')?.errors && (CartForm.get('phone')?.touched || CartForm.get('phone')?.dirty)){
        @if(CartForm.get('phone')?.getError('required')){
          <p class="bg-red-400 border-2 border-red-800 text-white rounded-lg mt-0.5 p-2">
            The Phone is required
          </p>
        }@else if(CartForm.get('phone')?.getError('pattern')){
          <p class="bg-red-400 border-2 border-red-800 text-white rounded-lg mt-1 p-2">
            The Phone Not Valid
          </p>
        }
      }
    </div>
    <button   class="w-[100px] rounded-xl ml-auto  p-2 text-white mt-4 bg-green-400  hover:bg-green-600 cursor-pointer transition-all duration-300  " type="submit">
      Submit
      <!-- @if(isloading){
        <i class="fas fa-spin fa-spinner"></i>
      } -->
    </button>
  </form>
</section>
