<section class="mt-10 container mx-auto flex flex-col md:flex-row gap-5">
  <!-- Left Section -->
  <div class="flex-grow">
    <h3 class="text-xl font-semibold">Shipping Address</h3>

    <div class="mt-8 mb-5 p-6 border-2 border-gray-400 rounded-xl w-full">
      <h4 class="text-lg font-medium mb-4">Address</h4>
      @for (item of ordersALL(); track $index) {
      <div class="bg-[#c2d2e227] p-4 rounded-xl w-[90%] mx-auto mb-2">
        <h5 class="text-[20px] font-normal">{{item?.shippingAddress.city}}</h5>
        <p class="text-gray-600">{{item?.shippingAddress.phone}}</p>
      </div>
    }
    </div>

    <h2 class="mt-10 text-xl font-semibold">Your Order</h2>

    <div class="mt-8 mb-5 p-6 border-2 border-gray-400 rounded-xl w-full">
      <h3 class="text-lg font-medium">Shipment 1 of 1</h3>
      <div class="flex flex-wrap justify-between items-center gap-3 mt-5">
        @for (item of ordersALL(); track $index) {
          @for (pro of item.cartItems; track $index) {
            <div class="flex gap-3 min-w-[220px] w-fit">
              <div class="relative">
                <img [src]="pro?.product.imageCover" alt="img" class="w-[150px] rounded" />
                <span class="absolute top-1 right-2 z-10 bg-gray-400 text-white text-[13px] px-2 py-1 rounded-full">x{{pro?.count}}</span>
              </div>
              <div class="w-full">
                <p class="text-gray-700 font-medium">{{pro?.product.category.name}}</p>
                <h4 class="font-semibold">{{pro?.product.title.split(" ").slice(0,2).join(" ")}}</h4>
                <p class="text-green-700">EGP <span class="font-bold">{{pro?.price}}</span></p>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>

  <!-- Right Section -->
  <div class="w-full md:w-[350px] md:flex-shrink-0">
    <h3 class="text-xl font-semibold">Order Summary</h3>

    <div class="mt-8 mb-5 p-6 border-2 border-gray-400 rounded-xl w-full">
      <h4 class="text-lg font-medium mb-4">Order Summary</h4>
      <div class="space-y-2">
        <div class="flex justify-between">
          <h5 class="text-[18px] font-normal">SubTotal:</h5>
          <p class="text-[17px]">EG {{ total() | number:'1.0-0' }}</p>
        </div>
        <div class="flex justify-between">
          <h5 class="text-[18px] font-normal">Shipping:</h5>
          <p class="text-[17px]">EG {{ 15 | number:'1.0-0' }}</p>
        </div>
        <div class="flex justify-between font-bold text-green-700">
          <h5 class="text-[18px]">Total:</h5>
          <p class="text-[17px]">EG {{ total() + 15 | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>

    <button class="bg-black text-white border-2 border-black py-2 px-4 rounded-xl transition-all w-[90%] mx-auto block hover:bg-red-700 hover:border-red-700">
      Cancel Order
    </button>

    <section class="text-gray-500 text-xs mt-6 mb-8 px-2">
      <h6 class="font-semibold flex items-center gap-1 mb-2"><i class="fa-solid fa-lock"></i> Security and Privacy</h6>
      <p class="mb-2">
        Our checkout is safe and secure. Your personal and payment Information is securely transmitted via 128-bit encryption. We do not store any payment card information on our systems
      </p>
      <p class="mb-2">2025 ourTeam. All Rights Reserved</p>
      <p>Terms of Use • Terms of Sale • Privacy Policy</p>
    </section>
  </div>
</section>

