@if(step == 1){
  <form (ngSubmit)="verifyEmail()" [formGroup]="verifyEmailForm" class="w-8/12 m-auto">
    <div class=" mb-7">
      <label class="block text-lg" for="email">Email:</label>
      <input class="border-2 placeholder:text-gray-400 border-green-700 rounded-xl w-full p-2 mt-4" type="text" placeholder="example@example.com" formControlName="email">
      @if(verifyEmailForm.get('email')?.errors && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.dirty)){
        @if(verifyEmailForm.get('email')?.getError('required')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The Email is required</p>
        }
        @if(verifyEmailForm.get('email')?.getError('email')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The Email is not Valid</p>
        }
      }
    </div>
    <input type="submit" value="submit" class="bg-green-700 text-white block w-full p-2 rounded-lg transition-all border-2 border-green-700 duration-300 hover:bg-white hover:text-green-700 cursor-pointer">
  </form>
}
@else if (step === 2) {
  <form (ngSubmit)="verifyCode()" [formGroup]="verifyCodeForm" class="w-8/12 m-auto">
    <div>
      <label class="block text-lg" for="resetCode">Code:</label>
      <input class="border-2 placeholder:text-gray-400 border-green-700 rounded-xl w-full p-2 mt-4 mb-7" type="text" placeholder="******" formControlName="resetCode">
      @if(verifyCodeForm.get('resetCode')?.errors && (verifyCodeForm.get('resetCode')?.touched || verifyCodeForm.get('resetCode')?.dirty)){
        @if(verifyCodeForm.get('resetCode')?.getError('required')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The resetCode is required</p>
        }
        @if(verifyCodeForm.get('resetCode')?.getError('pattern')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The Code is not Valid</p>
        }
      }
    </div>
    <input type="submit" value="submit" class="bg-green-700 text-white block w-full p-2 rounded-lg transition-all border-2 border-green-700 duration-300 hover:bg-white hover:text-green-700 cursor-pointer">
  </form>
}@else if (step === 3) {
  <form (ngSubmit)="verifyNewPassword()" [formGroup]="verifyNewPasswordForm" class="w-8/12 m-auto">
    <div>
      <label class="block text-lg" for="email">Email:</label>
      <input class="border-2 placeholder:text-gray-400 border-green-700 rounded-xl w-full p-2 mt-4 mb-7" type="text" placeholder="example@example.com" formControlName="email">
      @if(verifyNewPasswordForm.get('email')?.errors && (verifyNewPasswordForm.get('email')?.touched || verifyNewPasswordForm.get('email')?.dirty)){
        @if(verifyNewPasswordForm.get('email')?.getError('required')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The Email is required</p>
        }
        @if(verifyNewPasswordForm.get('email')?.getError('email')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The Email is not Valid</p>
        }
      }
    </div>
    <div>
      <label class="block text-lg" for="email">New Password:</label>
      <input class="border-2 placeholder:text-gray-400 border-green-700 rounded-xl w-full p-2 mt-4 mb-7" type="password" placeholder="***********" formControlName="newPassword">
      @if(verifyNewPasswordForm.get('password')?.errors && (verifyNewPasswordForm.get('password')?.touched || verifyNewPasswordForm.get('password')?.dirty)){
        @if(verifyNewPasswordForm.get('password')?.getError('required')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The password is required</p>
        }
        @if(verifyNewPasswordForm.get('password')?.getError('pattern')){
          <p class="bg-red-400 border-2 border-red-800 text-white p-2 rounded-lg mt-0.5">The Code is not Valid</p>
        }
      }
    </div>
    <input type="submit" value="submit" class="bg-green-700 text-white block w-full p-2 rounded-lg transition-all border-2 border-green-700 duration-300 hover:bg-white hover:text-green-700 cursor-pointer">
  </form>
}
